.affiliate_banner_wrapper {
    position: sticky;
    top: 24px;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    pointer-events: auto;
    margin: 24px 12px 0 0;
  }
  
  .image_affiliate {
    width: 280px;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .image_affiliate:hover {
    transform: scale(1.05);
  }
  
  
  @media (max-width:1200px) {
    .image_affiliate {
        display: none;
    }
  }
