.wrapper-blog-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.blog-detail-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin: auto;
    width: 50%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.blog-header {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog-image-2 {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;

}

.blog-title {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 10px;
}

.blog-meta-2 {
    color: gray;
    font-size: 16px;
}

.blog-paragraph-2 {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 24px;
}

.blog-list-text {
    list-style: none;
}

.blog-subhead {
    font-size: 20px;
    font-weight: bold;
}

.back-button {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.back-button:hover {
    background: #0056b3;
}

  
  .main-content {
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
    width: 520px;
  }
   

  .blog-title-2 { 
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
  }

  .blog-list-text {
    max-width: 80%;
    font-size: 18px;
  }


  .suggested-title {
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
  }
  /* Wrapper to handle the layout of the suggested blog cards */
.wrapper_suggested_blog {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width:1495px) {
    .suggested-blog-sidebar {
        margin-left: 12px;
        width: 320px;
    }
  }


  @media (max-width:1494px) {
    .suggested-blog-sidebar {
        display: none;
    }
  }
  
  .suggested-blogs {
    position: absolute;
    z-index: 1001;
    right: 42px;
    width: 320px;
    margin-top: 20px;
}

.suggested-blog-card {
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 8px;
  }


.suggested-blog-card:hover {
    transform: scale(1.03);
  }
  
  /* Image styling */
.suggested-blog-image {
    width: 100%;  /* Set image width to fit sidebar */
    height: 128px; /* Set image height for better aspect ratio */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }


  /* Title of the suggested blog */
.suggested-blog-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  

  .btn-glow {
    background: linear-gradient(135deg, #7234D9, #9f7aea);
    color: #fff;
  }