.background_image_banner {
    background-image: linear-gradient(to bottom, black, #6a1b9a);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.wrapper {
    width: min(1460px, 94%);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.15fr) minmax(0, 1fr);
    margin: 24px auto 0;
    gap: clamp(16px, 2.2vw, 24px);
    align-items: stretch;
}

@media (min-width: 1500px) {
    .wrapper {
        width: min(1660px, 96%);
        grid-template-columns: minmax(0, 1.08fr) minmax(0, 1.2fr) minmax(0, 1.08fr);
        gap: 28px;
    }
}

.wrapper > * {
    min-width: 0;
}

@media (max-width: 1280px) {
    .wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 920px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 720px) {
    .wrapper {
        grid-template-columns: 1fr;
        width: min(1320px, 94%);
    }
}
